h1 {
    background-color: lightgray;
    height: 15vh;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.squarelogo {
    position:absolute;
    top: 20px;
    left: 20px;
    background-color: royalblue;
    height: 70px;
    width: 70px;
}

h2 {
    height: 25vh;
    width: 100%;
    background-color: transparent;
    margin-top: 35px;
    margin-bottom: 0%;
    font-size: 17px;
    text-align: center;
}

h3{
    height: 25vh;
    width: 100%;
    background-color: royalblue;
    margin-top: 0%;
    margin-bottom: 0%;

}

h4 {
    height: 25vh;
    width: 100%;
    background-color: teal;
    margin-top: 0%;
    margin-bottom: 0%;
}

h5 {
    height: 25vh;
    width: 100%;
    background-color: lightgreen;
    margin-top: 0%;
    margin-bottom: 0%;
}

h6 {
    height: 25vh;
    width: 100%;
    background-color: yellowgreen;
    margin-top: 0%;
    margin-bottom: 0%;
}

.questioncircle {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    right: 15px;
    top: 610px;
  }

div {
    position:absolute;
    right: 33px;
    top: 620px;
    font-size: 30px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}